<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>802695093003-rbp4kich9ncf1vubqm97hqojqddn758g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.802695093003-rbp4kich9ncf1vubqm97hqojqddn758g</string>
	<key>API_KEY</key>
	<string>AIzaSyAsBViiiQLP8xTAPn9pWBUHC33TSH8x748</string>
	<key>GCM_SENDER_ID</key>
	<string>802695093003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testChart</string>
	<key>PROJECT_ID</key>
	<string>electric-21f3d</string>
	<key>STORAGE_BUCKET</key>
	<string>electric-21f3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802695093003:ios:2760a38ffc1c1251d7600e</string>
</dict>
</plist>